body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-image: url(header.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position:  center  ;
}
h1{
  text-align: center;
  text-emphasis-position: over;
  color: whitesmoke;
}
hr{
  color: whitesmoke;
  max-width: 65px;
}

.btn{
  padding: 1em 1rem;
  border-radius: 200px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-secondary {  
    background-color: #F05F44;  
    border-color: #F05F44;  
    --bs-btn-hover-bg: #8162ed ; 
    --bs-btn-hover-border-color: #ee4b08;
}
.buffer{
  height: 10em;
}

